@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
$font:'Josefin Sans',
sans-serif;
$bright_blue: hsl(220,
98%,
61%);
// LIGHT THEME
$gray:hsl(0,
0%,
98%);
$light1:hsl(236,
33%,
92%);
$light2:hsl(233,
11%,
84%);
$light3:hsl(236,
9%,
61%);
$light4:hsl(235,
19%,
35%);
// DARK THEME 
$dark1:hsl(235,
21%,
11%);
$dark2:hsl(235,
24%,
19%);
$dark3:hsl(234,
39%,
85%);
$hover: hsl(236,
33%,
92%);
$dark4:hsl(234,
11%,
52%);
$dark5:hsl(233,
14%,
35%);
$dark6:hsl(237,
14%,
26%);