@import "variables";
body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
}

.dark {
    background-image: url(../images/bg-desktop-dark.jpg);
    background-color: $dark1;
    transition: 0.5s;
}

.light {
    background-image: url(../images/bg-desktop-light.jpg);
    background-color: $light2;
    transition: 0.5s;
}

.container {
    width: 37vw;
    min-width: 520px;
    margin: auto;
    display: flex;
    flex-direction: column;
}


/*=========================== HEADER ===========================*/

#title {
    color: white;
    letter-spacing: 0.4em;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    margin-top: 50px;
    font-size: 1.15em;
    font-weight: 700;
}

#moon {
    display: none;
}

.mode:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.inputDark {
    margin-top: 15px;
    width: 100%;
    height: 60px;
    background-color: $dark2;
    display: flex;
    border-radius: 5px;
    transition: 0.5s;
    .checkDiv {
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .check {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 1px solid $dark5;
    }
    .textDiv {
        width: 85%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .text {
        background-color: $dark2;
        border: none;
        color: $dark3;
        font-weight: 400;
        font-size: 1em;
        font-family: $font;
        width: 100%;
        padding: 15px 0 10px 0;
        vertical-align: text-bottom;
        transition: 0.5s;
    }
    .text:focus {
        outline: none;
    }
}

.inputLight {
    margin-top: 15px;
    width: 100%;
    height: 60px;
    background-color: $light1;
    display: flex;
    border-radius: 5px;
    transition: 0.5s;
    .checkDiv {
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .check {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 1px solid $light2;
    }
    .textDiv {
        width: 85%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .text {
        background-color: $light1;
        border: none;
        color: $light4;
        font-weight: 400;
        font-size: 1em;
        font-family: $font;
        width: 100%;
        padding: 15px 0 10px 0;
        vertical-align: text-bottom;
        transition: 0.5s;
    }
    .text:focus {
        outline: none;
    }
}


/*============================ ITEM ===============================*/

#main {
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    min-height: 80vh;
}

#itemList {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#dark:first-child,
#light:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#dark {
    height: 60px;
    background-color: $dark2;
    display: flex;
    border-bottom: 1px solid $dark6;
    transition: 0.5s;
    .checkDiv {
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .check {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 1px solid $dark5;
    }
    .check:hover {
        cursor: pointer;
    }
    .tick {
        display: none;
        margin-left: 5px;
        margin-top: 2px;
    }
    .checked {
        background: rgb(87, 221, 255);
        background: -moz-linear-gradient(180deg, rgba(87, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(87, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);
        background: linear-gradient(180deg, rgba(87, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);
    }
    .textDiv {
        width: 85%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .itemText {
        border: none;
        color: $dark3;
        font-weight: 400;
        font-size: 1.1em;
        font-family: $font;
        margin: 0;
        padding: 15px 0 10px 0;
    }
    .itemTextComplete {
        border: none;
        color: $dark5;
        font-weight: 400;
        font-size: 1.1em;
        font-family: $font;
        text-decoration: line-through;
        padding: 15px 0 10px 0;
    }
    .crossDiv {
        width: 7%;
    }
    .cross {
        display: none;
        margin-top: 22px;
    }
}

#light {
    width: 100%;
    height: 60px;
    background-color: $light1;
    display: flex;
    border-bottom: 1px solid $light2;
    transition: 0.5s;
    .checkDiv {
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .check {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 1px solid $light2;
    }
    .check:hover {
        cursor: pointer;
    }
    .tick {
        display: none;
        margin-left: 5px;
        margin-top: 2px;
    }
    .checked {
        background: rgb(87, 221, 255);
        background: -moz-linear-gradient(180deg, rgba(87, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(87, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);
        background: linear-gradient(180deg, rgba(87, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);
    }
    .textDiv {
        width: 85%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .itemText {
        border: none;
        color: $light4;
        font-weight: 400;
        font-size: 1.1em;
        font-family: $font;
        margin: 0;
        padding: 15px 0 10px 0;
    }
    .itemTextComplete {
        border: none;
        color: $light3;
        font-weight: 400;
        font-size: 1.1em;
        font-family: $font;
        text-decoration: line-through;
        padding: 15px 0 10px 0;
    }
    .crossDiv {
        width: 7%;
    }
    .cross {
        display: none;
        margin-top: 22px;
    }
}

#dark:hover,
#light:hover {
    cursor: pointer;
    .check {
        border: 1px solid $bright_blue;
    }
    .cross {
        display: block;
    }
}


/*=================== ITEM LIST FOOTER =====================*/

.listFooterDark {
    background-color: $dark2;
    width: 100%;
    height: 45px;
    display: none;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: $dark5;
    font-size: 0.9em;
    transition: 0.5s;
    .listSelect {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        #all {
            color: $bright_blue;
        }
    }
    p {
        margin: 0;
        padding: 5px 8px 0 8px;
    }
    #all:hover,
    #act:hover,
    #com:hover,
    #clear:hover {
        transform: scale(1.05);
        cursor: pointer;
        color: $dark3;
    }
}

.listFooterLight {
    background-color: $light1;
    width: 100%;
    height: 45px;
    display: none;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: $light3;
    font-size: 0.9em;
    transition: 0.5s;
    .listSelect {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        #all {
            color: $bright_blue;
        }
    }
    p {
        margin: 0;
        padding: 5px 8px 0 8px;
    }
    #all:hover,
    #act:hover,
    #com:hover,
    #clear:hover {
        transform: scale(1.05);
        cursor: pointer;
        color: $light4;
    }
}

.messageDark {
    margin-top: 50px;
    color: $dark5;
    text-align: center;
}

.messageLight {
    margin-top: 50px;
    color: $light3;
    text-align: center;
}

#listFooterMobile {
    display: none;
}


/*======================= FOOTER ==========================*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50px;
    bottom: 0px;
    color: white;
}


/*======================= MEDIA QUERIES =====================*/

@media (max-width:1800px) {
    body {
        background-position-x: -3vw;
        background-size: 106%;
        transition: ease-in-out;
    }
}

@media (max-width:1700px) {
    body {
        background-position-x: -5vw;
        background-size: 110%;
        transition: ease-in-out;
    }
}

@media (max-width:1600px) {
    body {
        background-position-x: -7vw;
        background-size: 114%;
        transition: ease-in-out;
    }
}

@media (max-width:1500px) {
    body {
        background-position-x: -10vw;
        background-size: 120%;
        transition: ease-in-out;
    }
}

@media (max-width:1400px) {
    body {
        background-position-x: -12vw;
        background-size: 124%;
        transition: ease-in-out;
    }
}

@media (max-width:1300px) {
    body {
        background-position-x: -15vw;
        background-size: 130%;
        transition: ease-in-out;
    }
}

@media (max-width:1200px) {
    body {
        background-position-x: -18vw;
        background-size: 136%;
        transition: ease-in-out;
    }
}

@media (max-width:1100px) {
    body {
        background-position-x: -20vw;
        background-size: 140%;
        transition: ease-in-out;
    }
}

@media (max-width:1000px) {
    body {
        background-position-x: -22vw;
        background-size: 144%;
        transition: ease-in-out;
    }
}

@media (max-width:900px) {
    body {
        background-position-x: -24vw;
        background-size: 148%;
        transition: ease-in-out;
    }
}

@media (max-width:800px) {
    body {
        background-position-x: -26vw;
        background-size: 152%;
        transition: ease-in-out;
    }
}

@media (max-width:700px) {
    body {
        background-position-x: -29vw;
        background-size: 158%;
        transition: ease-in-out;
    }
}

@media (max-width:600px) {
    body {
        background-position-x: -32vw;
        background-size: 164%;
        transition: ease-in-out;
    }
    .container {
        max-width: 95vw;
        min-width: 90vw;
    }
    #light,
    #dark {
        .itemText {
            font-size: 0.8em;
        }
        .check {
            width: 18px;
            height: 18px;
        }
        .cross {
            display: block;
        }
        .crossDiv {
            width: 7%;
            margin-right: 10px;
        }
    }
    .listFooterDark {
        .listSelect {
            display: none;
        }
    }
    .listFooterLight {
        .listSelect {
            display: none;
        }
    }
    #listFooterMobile {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 45px;
        border-radius: 5px;
        margin-top: 20px;
    }
    .listFooterMobileDark {
        background-color: $dark2;
        color: $dark5;
    }
    .listFooterMobileDark {
        #allM {
            color: $bright_blue;
        }
        #allM:hover,
        #actM:hover,
        #comM:hover {
            cursor: pointer;
            transform: scale(1.05);
            color: $dark3;
        }
    }
    .listFooterMobileLight {
        background-color: $light1;
        color: $light3;
    }
    .listFooterMobileLight {
        #allM {
            color: $bright_blue;
        }
        #allM:hover,
        #actM:hover,
        #comM:hover {
            cursor: pointer;
            transform: scale(1.05);
            color: $light4;
        }
    }
}